.project-item {
    padding-bottom: 24px;

    &__toggler {
        margin-bottom: 10px;
    }
}

.comments {
    margin-bottom: 10px;

    &__date {
        display: block;

        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.4);
    }
}