.comment {
    display: flex;
    margin-bottom: 6px;

    &__username {
        display: inline-block;
        margin-right: 8px;

        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
    }

    &__paragraph {
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
    }
}
