.project-user {
    display: flex;
    align-items: center;

    &--small {
        .project-user__avatar {
            width: 32px;
            height: 32px;
        }

        .project-user__name {
           display: inline-block;
           padding-left: 12px;

           font-weight: 700;
           font-size: 14px;
           line-height: 22px;
           letter-spacing: -0.1px;
           color: #292929;
        }
    }

    &__avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &__name {
        display: inline-block;
        padding-left: 14px;

        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.1px;
        color: #262626;
    }
}