.topline {
    background-color: #FAFAFA;
    border-bottom: 1px solid #C6C6C8;
    padding: 42px 0 32px;
    margin-bottom: 32px;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__content {
        margin-top: 37px;
    }
}
